*{
    box-sizing: border-box;
    margin: 5px; 
    padding: 5px;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    padding: 20px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 70%;
   
}

header h1{
    font-style: bolder;
    margin: 10px;
    font-size: 40px;
    color: aqua;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none
}

header nav ul li a {
    padding: 10px;
    font-size: 20px;
}

header nav ul li a:hover {
    color: pink;
    border-radius: 10px;

}

footer {
    padding:45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: blueviolet;
    font-size: 20px;
    margin: 5px;
}

section{
    padding: 60px;
}

.badge{
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;  
}

.badge h2{
    font-style: normal;
    font-size: 30px;
    color: #017d3f;
    float: right;
    background-color: #f20c00;
}

.section {
    background-color: #518697;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 40px;
    color: #3a032d;
    margin: 0;
    padding-right: 10px;
    width: 500px;
    border-right: #3a002f ;
}

.section-title2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 40px;
    color: #11ff00;
    margin: 0 ;
    padding-right: 10px;
    width: 500px;
    height: 1250px;
}

.personal-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 500px;
}

.personal-info2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 500px;
    border-left: #d06b6b;
}

.section p, .section a {
    line-height: 50px;
    color: #ffffff;
    width: 500px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    padding: 0 15px 0 15px;
}






